<div class="content" fxLayout="row wrap">
    <div *ngFor ="let timetable of timetables">
    <mat-card  class="mat-elevation-z5" [style.background]="getColor(timetable.ssr_component)">
        <mat-card-title > {{timetable.subject}} {{timetable.courseCode}} </mat-card-title>
        <mat-card-content>Start time : {{timetable.start_time}}</mat-card-content>
        <mat-card-content>End time: {{timetable.end_time}}</mat-card-content>
        <mat-card-content>Class number: {{timetable.class_nbr}}</mat-card-content>
        <mat-card-content>Location: {{timetable.campus}}</mat-card-content>
        <mat-card-content>Component: {{timetable.ssr_component}}</mat-card-content>
        <button (click) = "addCourse(timetable.subject,timetable.courseCode)" class="add-button"> Add</button>
    </mat-card>
    
    </div>
</div>