<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">DraftMySchedule</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" [routerLinkActive] ="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link"  [routerLink] = "['/']">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li *ngIf ="authService.isAuthenticated()" class="nav-item" [routerLinkActive] ="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink] = "['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf ="authService.isAuthenticated()" [routerLinkActive] ="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink] = "['/profile']">Profile</a>
        </li>
        <li *ngIf ="!authService.isAuthenticated()" lass="nav-item" [routerLinkActive] ="['active']" [routerLinkActiveOptions] = "{exact:true}" >
          <a class="nav-link" [routerLink] = "['/register']">Register</a>
        </li>
        <li *ngIf ="!authService.isAuthenticated()"class="nav-item" [routerLinkActive] ="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink] = "['/login']">Login</a>
        </li>
        <li *ngIf ="authService.isAdmin() && authService.isAuthenticated()"class="nav-item" [routerLinkActive] ="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink] = "['/manage']">Manage Users</a>
        </li>
        
        <li *ngIf ="authService.isAuthenticated()" class="nav-item">
          <a class="nav-link" (click) = "onLogoutClick()" href="#">Logout</a>
        </li>


     
      </ul>
   
    </div>
  </nav>