<div class="content" fxLayout="row wrap">
    <div *ngFor ="let client of clients">
    <mat-card  class="mat-elevation-z5" >
        <mat-card-title > {{client.name}}  </mat-card-title>
        <mat-card-content>Username : {{client.username}}</mat-card-content>
        <mat-card-content>Email : {{client.email}}</mat-card-content>
        <mat-card-content>Role : {{client.role}}</mat-card-content>
        <mat-card-content>Activate: {{client.activate}}</mat-card-content>
       
        <button  (click) = "grantAdmin(client.username)" class="add-button"> Grant Admin</button>
        <button  (click) = "deactivate(client.username)" [disabled]="client.role ==='admin' || client.activate === false" class="add-button"> Deactivate</button>
        <button   (click) ="activate(client.username)" [disabled] ="client.activate === true"> Activate</button>
       
       
       

    </mat-card>
    
    </div>
</div>
