<div class ="subject-component">
    <h4>Subject</h4>
    <select> <option *ngFor="let subject of subjects "> {{subject.subject}} {{subject.className}} </option></select>
    <h4>Subject Code</h4>
    <select (change)="selectChangeHandler($event)">
        <option></option>
        <option *ngFor="let subjectCode of subjectCodes " [value] = "subjectCode.subject"> {{subjectCode.subject}}  </option>
    </select>
    <h4>Course Code</h4>
    <select (change)="selectChangeHandlerCourseCode($event)">
        <option></option>
        <option *ngFor="let courseCode of courseCodes " [value] = "courseCode.course_code"> {{courseCode.course_code}}  </option>
    </select>
    <h4>Component</h4>
    <select (change)="selectChangeHandlerComponent($event)">
        <option></option>
        <option *ngFor="let component of components " [value] = "component"> {{component}} 
    </select>
   
</div>
<div class= "search-by">
<button (click)="searchClick()">
    Search
</button>
<button (click) = "searchAll()">
    Search All Codes
</button>
<input [(ngModel)] ="keyword" name ="keyword" placeholder="Search by keyword">
<button (click) ="searchByClassName()">Search by Class Name</button>
<button (click) ="searchByCourseCode()">Search by Course Code</button>
</div>
<div>
<input [(ngModel)] = "
courseID" name ="courseID" placeholder ="Enter the course ID">
<input [(ngModel)] = "review" name ="review" placeholder ="What do you think?">
<button (click) ="addReview()">Add Review</button>
<button (click) ="showReview()">Display Review</button>
</div>
<app-schedule> 
</app-schedule>
<app-current-schedule>
 </app-current-schedule>

 <app-user-review></app-user-review>