.subject-component {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
}
.search-by {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
}
